### Project
dist
logs

# Bower
bower_components

# NPM
node_modules
npm-debug.log

# temporary files
*.log
*.out
*.pid
*.seed

### IDEs
# Eclipse
.buildpath
.classpath
.project
.settings
.externalToolBuilders/

# Sublime Text
*.sublime-*


# Mac OS X
.DS_Store
._*
